.goods-card-section-list{
    background-color:rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.goods-card-section{
    max-width: 31%;
    min-width: 31%;
    margin: 1%;
    min-height: auto;
    max-height: 500px;
    background-color:var(--first-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    border:1px solid var(--second-color);
    border-radius:1em;
    font-size: var(--primary-size);
    img{
    width: 100%;
    padding: 10%;
    }
    h3{
    color:black;
    font-weight: bold;
    height: 2em;
    margin: 0.5em;
    }
    p{
    color:black;
    margin: 0.5em;
    height: 2em;
    }
}