.goods-card{
 margin: 1em;
 min-height: 350px;
 height: 25vh;
 background-color:yellow;
 display: flex;
 flex-direction: column;
 align-items:center;
 border:1px solid var(--first-color);
 border-radius:1em;
 font-size: var(--primary-size);
 img{
    width: 100%;
    padding: 10%;
 }
 h3{
    font-weight: bold;
    margin: 1em;
 }
 p{
    margin: 1em;
 }
}