.all-details {
  display: flex;

  &-left-block {
    
    width: 50%;

    padding: 20px;
    border-right: 1px solid #ddd;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }

    &-quantity-block {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .all-details-combined-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #0056b3;
        }
      }

      input {
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ccc;
      }
    }
  }

  &-right-block {
    width: 50%;

    padding: 20px;

    .all-details-head-button {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #1e7e34;
      }
    }
  }
}
